<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
  <strong>Apellido</strong>
  <%= @user.last_name %>
  <strong>Correo</strong>
  <%= @user.email %>
  
</p>

<%= link_to 'Back', users_path %>
