<!DOCTYPE html>
<html>
	<head>
    	
		<title>Dirección de Extensión e Investigación - FIUNI</title>
		
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</head>
  
	<body>
		<div class="container">
			<section class="main row">
				<header class="col-md-2">
					<br/>
					<div class="imagen_logo">
						<%= image_tag "logo2.png", :alt => "universidad", :title => "uni", :width => '140'%>
					</div>
					<br/>
				</header>
				<header class="col-md-8">
					<br/>
					<br/>
					<h3 ALIGN="center">Dirección de Extensión e Investigación</h3>
					<h3 ALIGN="center">Facultad de Ingeniería - UNI</h3>
				</header>
				<header class="col-md-2">
					<br/>
					<div class="imagen_logo">
						<%= image_tag "FIUNI2.png", :alt => "facu", :title => "fiuni", :width => '130', :align => 'middle'%>
					</div>
					<br/>
				</header>
			</section>
		</div>

		<!--<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>-->
		<!--<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>-->
		
		
    	  <%= yield %>
    	  
  	</body>
</html>
